# Build output
/.stack-work
/dist

# Generated and downloaded files
/static/main.js
/static/sjcl.js

# Cabal sandbox
/.cabal-sandbox
/cabal.sandbox.config

# Editor files
*.swp
*.swo

# Elm stuff
/elm-stuff
